  <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="chat">
        <h3><%= @question %></h3>
        <p><i>-you</i></p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="chat">
        <h3><%= @reply %></h3>
        <p><i>-coach</i></p>
      </div>
    </div>
  </div>
  <div class="row col-xs-12">
    <%= link_to("Ask another question", "ask", class: "btn btn-primary") %>
  </div>
</div>
