
<div class="container">
  <h3 class="text-center">Ask your coach anything:</h3>
  <div class="row">
    <div class="col-xs-12">
      <div class="input">
        <form action="answer">
          <input type="text" name="question" value="Ask your coach anything!" id="question">
          <input type="submit" value="Ask" id="submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>


