<h3>Ask your coach anything:</h3>

<div class="row">
  <div class="col-xs-12">
    <form action="answer">
      <input type="text" name="question" value="">
      <input type="submit" value="Ask" >
    </form>
  </div>
</div>


